@font-face {
   font-family: Circular;
   src: url(../fonts/circular/CircularStd-Light.otf);
   font-weight: 200;
}
@font-face {
   font-family: Circular;
   src: url(../fonts/circular/CircularStd-Book.otf);
   font-weight: 500;
}
@font-face {
   font-family: Circular;
   src: url(../fonts/circular/CircularStd-Bold.otf);
   font-weight: 900;
}