@font-face {
  font-family: Circular;
  src: url(../fonts/circular/CircularStd-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: Circular;
  src: url(../fonts/circular/CircularStd-Book.otf);
  font-weight: 500;
}

@font-face {
  font-family: Circular;
  src: url(../fonts/circular/CircularStd-Bold.otf);
  font-weight: 900;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Circular;
  background: #fffaff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation-header {
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.navigation-header img {
  height: 35px;
}

.navigation-header ul {
  height: 100%;
  white-space: nowrap;
}

.navigation-header li {
  display: inline-block;
  margin: 0 8px;
  height: 100%;
}

.navigation-header li a.nav-links {
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #303036;
}

.navigation-header li a.nav-links:after {
  position: absolute;
  content: '';
  bottom: 0;
  height: 2px;
  width: 0%;
  background: #30bced;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.navigation-header li a.nav-links:hover::after {
  width: 100%;
}

.navigation-header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-header section a.host {
  margin-right: 10px;
  padding: 7px 12px;
  border-radius: 50px;
  text-decoration: none;
  color: #303036;
}

.navigation-header section a.host:hover {
  background: rgba(0, 0, 0, 0.05);
}

.navigation-header section .member-icon {
  width: 25px;
  height: 25px;
  padding: 1px;
  border-radius: 50%;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
}

.navigation-header section .member-icon.opened {
  -webkit-box-shadow: 0 0 0 2px #30bced;
          box-shadow: 0 0 0 2px #30bced;
}

.navigation-header section .member-icon:hover {
  -webkit-box-shadow: 0 0 0 2px #30bced;
          box-shadow: 0 0 0 2px #30bced;
}

.navigation-header section .member-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.navigation-header section .menu {
  z-index: 99;
  display: none;
  opacity: 0;
  padding: 10px 0;
  width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 250, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 73px;
  top: 60px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation: menuShow .3s ease;
          animation: menuShow .3s ease;
}

.navigation-header section .menu.opened {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-header section .menu .close {
  font-size: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  z-index: 99;
  position: absolute;
  top: 0px;
  right: -25px;
  color: #aaa;
  float: right;
  cursor: pointer;
  font-weight: bold;
  -webkit-animation: closeBtn .3s ease .2s forwards;
          animation: closeBtn .3s ease .2s forwards;
  opacity: 0;
}

.navigation-header section .menu .close:hover {
  color: black;
}

.navigation-header section .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation-header section .menu ul li {
  margin: 0;
  font-weight: 200;
}

.navigation-header section .menu ul li a {
  padding: 10px;
  padding-left: 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.navigation-header section .menu ul li:hover {
  background: #f6f6f6;
  background: rgba(0, 0, 0, 0.05);
}

.navigation-header section .menu ul li:hover a {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.navigation-header section .menu ul li:first-child {
  font-weight: bold;
}

.navigation-header section .menu ul li a {
  display: block;
  text-decoration: none;
  width: 100%;
  color: #303036;
}

.navigation-header section .menu ul hr {
  border: none;
  background: rgba(0, 0, 0, 0.05);
  height: 1px;
  width: 100%;
  margin: 10px 0;
}

.connexion-background,
.inscription-background,
.disconnect-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(48, 48, 54, 0.8);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.connexion-background.opened,
.inscription-background.opened,
.disconnect-background.opened {
  opacity: 1;
  display: block;
  -webkit-animation: menuShow .5s ease;
          animation: menuShow .5s ease;
}

.connexion-background .modal,
.inscription-background .modal,
.disconnect-background .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fffaff;
  width: 500px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
}

.connexion-background .modal header,
.inscription-background .modal header,
.disconnect-background .modal header {
  position: relative;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connexion-background .modal header span,
.inscription-background .modal header span,
.disconnect-background .modal header span {
  position: absolute;
  left: 20px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 1.3em;
  text-align: center;
  line-height: 25px;
}

.connexion-background .modal header span:hover,
.inscription-background .modal header span:hover,
.disconnect-background .modal header span:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.connexion-background .modal hr,
.inscription-background .modal hr,
.disconnect-background .modal hr {
  opacity: .3;
}

.connexion-background .modal form,
.inscription-background .modal form,
.disconnect-background .modal form {
  padding: 30px;
}

.connexion-background .modal form h3,
.inscription-background .modal form h3,
.disconnect-background .modal form h3 {
  font-weight: normal;
  font-size: 120%;
  padding: 15px 0;
  text-align: center;
}

.connexion-background .modal .identifiants,
.inscription-background .modal .identifiants,
.disconnect-background .modal .identifiants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 10px;
}

.connexion-background .modal .identifiants:last-child,
.inscription-background .modal .identifiants:last-child,
.disconnect-background .modal .identifiants:last-child {
  margin-bottom: 0px;
}

.connexion-background .modal .identifiants span.valid,
.connexion-background .modal .identifiants span.invalid,
.inscription-background .modal .identifiants span.valid,
.inscription-background .modal .identifiants span.invalid,
.disconnect-background .modal .identifiants span.valid,
.disconnect-background .modal .identifiants span.invalid {
  position: absolute;
  right: 7px;
  top: 5px;
  font-size: .8em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-weight: 200;
}

.connexion-background .modal .identifiants span.valid,
.inscription-background .modal .identifiants span.valid,
.disconnect-background .modal .identifiants span.valid {
  opacity: 0;
  color: #30bced;
}

.connexion-background .modal .identifiants span.invalid,
.inscription-background .modal .identifiants span.invalid,
.disconnect-background .modal .identifiants span.invalid {
  opacity: .3;
}

.connexion-background .modal .identifiants input[type=text],
.connexion-background .modal .identifiants input[type=email],
.connexion-background .modal .identifiants input[type=tel],
.connexion-background .modal .identifiants input[type=password],
.inscription-background .modal .identifiants input[type=text],
.inscription-background .modal .identifiants input[type=email],
.inscription-background .modal .identifiants input[type=tel],
.inscription-background .modal .identifiants input[type=password],
.disconnect-background .modal .identifiants input[type=text],
.disconnect-background .modal .identifiants input[type=email],
.disconnect-background .modal .identifiants input[type=tel],
.disconnect-background .modal .identifiants input[type=password] {
  background: rgba(0, 0, 0, 0.05);
  font-family: Circular;
  font-weight: normal;
  padding-left: 15px;
  font-size: 1em;
  height: 40px;
  outline: none;
  border: none;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  color: black;
}

.connexion-background .modal .identifiants input[type=text]:focus,
.connexion-background .modal .identifiants input[type=email]:focus,
.connexion-background .modal .identifiants input[type=tel]:focus,
.connexion-background .modal .identifiants input[type=password]:focus,
.inscription-background .modal .identifiants input[type=text]:focus,
.inscription-background .modal .identifiants input[type=email]:focus,
.inscription-background .modal .identifiants input[type=tel]:focus,
.inscription-background .modal .identifiants input[type=password]:focus,
.disconnect-background .modal .identifiants input[type=text]:focus,
.disconnect-background .modal .identifiants input[type=email]:focus,
.disconnect-background .modal .identifiants input[type=tel]:focus,
.disconnect-background .modal .identifiants input[type=password]:focus {
  background: rgba(0, 0, 0, 0.1);
}

.connexion-background .modal .identifiants input[type=text]:first-child,
.connexion-background .modal .identifiants input[type=email]:first-child,
.connexion-background .modal .identifiants input[type=tel]:first-child,
.connexion-background .modal .identifiants input[type=password]:first-child,
.inscription-background .modal .identifiants input[type=text]:first-child,
.inscription-background .modal .identifiants input[type=email]:first-child,
.inscription-background .modal .identifiants input[type=tel]:first-child,
.inscription-background .modal .identifiants input[type=password]:first-child,
.disconnect-background .modal .identifiants input[type=text]:first-child,
.disconnect-background .modal .identifiants input[type=email]:first-child,
.disconnect-background .modal .identifiants input[type=tel]:first-child,
.disconnect-background .modal .identifiants input[type=password]:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.connexion-background .modal .identifiants input[type=text]:valid ~ span.valid,
.connexion-background .modal .identifiants input[type=email]:valid ~ span.valid,
.connexion-background .modal .identifiants input[type=tel]:valid ~ span.valid,
.connexion-background .modal .identifiants input[type=password]:valid ~ span.valid,
.inscription-background .modal .identifiants input[type=text]:valid ~ span.valid,
.inscription-background .modal .identifiants input[type=email]:valid ~ span.valid,
.inscription-background .modal .identifiants input[type=tel]:valid ~ span.valid,
.inscription-background .modal .identifiants input[type=password]:valid ~ span.valid,
.disconnect-background .modal .identifiants input[type=text]:valid ~ span.valid,
.disconnect-background .modal .identifiants input[type=email]:valid ~ span.valid,
.disconnect-background .modal .identifiants input[type=tel]:valid ~ span.valid,
.disconnect-background .modal .identifiants input[type=password]:valid ~ span.valid {
  opacity: 1;
}

.connexion-background .modal .identifiants input[type=text]:valid ~ span.invalid,
.connexion-background .modal .identifiants input[type=email]:valid ~ span.invalid,
.connexion-background .modal .identifiants input[type=tel]:valid ~ span.invalid,
.connexion-background .modal .identifiants input[type=password]:valid ~ span.invalid,
.inscription-background .modal .identifiants input[type=text]:valid ~ span.invalid,
.inscription-background .modal .identifiants input[type=email]:valid ~ span.invalid,
.inscription-background .modal .identifiants input[type=tel]:valid ~ span.invalid,
.inscription-background .modal .identifiants input[type=password]:valid ~ span.invalid,
.disconnect-background .modal .identifiants input[type=text]:valid ~ span.invalid,
.disconnect-background .modal .identifiants input[type=email]:valid ~ span.invalid,
.disconnect-background .modal .identifiants input[type=tel]:valid ~ span.invalid,
.disconnect-background .modal .identifiants input[type=password]:valid ~ span.invalid {
  opacity: 0;
}

.connexion-background .modal .identifiants span input[type=submit],
.inscription-background .modal .identifiants span input[type=submit],
.disconnect-background .modal .identifiants span input[type=submit] {
  width: 100%;
}

.connexion-background .modal .identifiants input[type=submit],
.inscription-background .modal .identifiants input[type=submit],
.disconnect-background .modal .identifiants input[type=submit] {
  font-family: Circular;
  font-size: 1em;
  height: 40px;
  font-weight: normal;
  border: none;
  outline: none;
  background: #de418f;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.connexion-background .modal .identifiants input[type=submit][disabled],
.inscription-background .modal .identifiants input[type=submit][disabled],
.disconnect-background .modal .identifiants input[type=submit][disabled] {
  background: rgba(0, 0, 0, 0.05) !important;
  color: #999;
  cursor: default;
}

.connexion-background .modal .identifiants input[type=submit]:hover,
.inscription-background .modal .identifiants input[type=submit]:hover,
.disconnect-background .modal .identifiants input[type=submit]:hover {
  color: none;
}

.connexion-background .modal .modal-or,
.inscription-background .modal .modal-or,
.disconnect-background .modal .modal-or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0px;
  font-weight: lighter;
  font-size: .8em;
  color: #999;
}

.connexion-background .modal .modal-or::before, .connexion-background .modal .modal-or::after,
.inscription-background .modal .modal-or::before,
.inscription-background .modal .modal-or::after,
.disconnect-background .modal .modal-or::before,
.disconnect-background .modal .modal-or::after {
  content: '';
  width: 100%;
  margin: 5px 30px;
  height: 1px;
  background: #eee;
}

.connexion-background .modal .btn,
.inscription-background .modal .btn,
.disconnect-background .modal .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  text-decoration: none;
  color: #303036;
  border: 1px solid #eee;
  margin: 30px;
  border-radius: 10px;
}

.bold {
  font-weight: 900;
}

.regular {
  font-weight: 500;
}

.container {
  padding: 25px 80px;
}

.jcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-card {
  position: relative;
  padding: 100px;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
}

.big-card img {
  top: 0;
  left: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.big-card h2 {
  font-size: 2.8em;
  font-weight: bold;
  color: #303036;
  color: white;
}

.hover-zoom {
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.hover-zoom:hover {
  -webkit-transform: scale3d(1.005, 1.005, 1.005);
          transform: scale3d(1.005, 1.005, 1.005);
  -webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
}

.bg-dark {
  background: #303036;
}

.bg-black {
  background: black;
}

.bg-primary {
  background: #de418f;
}

.bg-secondary {
  background: #30bced !important;
  color: white !important;
}

.dark {
  color: #303036;
}

.primary {
  color: #de418f;
}

.secondary {
  color: #30bced;
}

.ucfirst {
  text-transform: capitalize;
}

.connected, .disconnected {
  position: absolute;
  top: 5px;
  right: 80px;
}

.connected.green, .disconnected.green {
  color: green;
}

.connected.red, .disconnected.red {
  color: crimson;
}

.error {
  margin-top: 20px;
  margin-bottom: 0px;
  color: orange;
  border: 1px solid orange;
  background: rgba(255, 165, 0, 0.1);
  padding: 10px;
  border-radius: 7px;
}

.error a {
  color: #303036;
  opacity: .6;
}

@-webkit-keyframes menuShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes menuShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes loginModal {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes loginModal {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes closeBtn {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes closeBtn {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */